<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
          <a href="login">Login</a>
          <a href="logout">Logout</a>
          <a href="register">Register</a>
          <a href="app">Application</a>
        </ul>
      </nav>
    <div class="form">
        <h2>Simple Social - User Registration</h2>
        <form action="/register" method="POST">
            <label>Username</label>
            <input type="text" id="username" name="username"><br>
            <label>Password</label>
            <input type="text" id="password" name="password"><br>
            <input type="submit" value="Register">
        </form>
    </div> 

</body>
</html>